 .form-data {
    width: 100%;
    max-width: 35rem;
    margin: 3rem;
  }
  
  .form-data form {
    background: white;
    border: 2px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
  }
  
  .logo img {
    width: 15rem;
    border-bottom: 2.5rem;
  }
  
  .form-data form input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid #eee;
    border-radius: 0.4rem;
  }
  
  .form-btn {
    background-color: #5161ce;
    border: none;
    color: white;
    margin: 1rem 0 1.5rem;
    height: 3rem;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .reset {
    font-size: 1.2rem;
    font-family: Arial;
    color: #003569;
  }
  
  .sign-up {
    background-color: white;
    border: 2px solid #eee;
    font-size: 1.2rem;
    color: #4f33c9;
    padding: 2rem 0;
    margin: 1rem 0;
    font-family: Arial;
  }
  
  .sign-up a {
    color: #5161ce;
  }
  
  footer {
    padding: 5rem;
  }
  
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.4rem;
    font-family: Arial;
    margin: 0;
  }
  
li{
    list-style: none;
    margin-right: 1.6rem;
}

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 10px;
  }
  
  body {
    background-color: #fafafa;
  }
  
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10rem;
  }
  
  .container {
    width: 100%;
    max-width: 93rem;
    margin: 3rem auto 0;
  }
  
  .wrapper > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8rem;
  }
  
  .phone-app {
    background: url("../images/phoneApp.png");
    background-size: 72rem;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 52rem;
  } 
  


  /*Form CSS*/

  p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #043AAC;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #043AAC;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #043AAC;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #043AAC;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #043AAC;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    margin-left: 55px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #043AAC;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #043AAC;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #043AAC;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

/*Account CSS*/

.user {
    height: 100px;
    width:100%;
    position:relative;
    background-color:#040D20;
    background-color:#043AAC;
  }

.user .user-name {
    margin-top: 17px;
    margin-left:-10px;
}

.user .user-name h5 a {
    color:rgba(255,255,255,1);
    font-weight:bold;
    font-size:1.2em;
}

.user .user-name h5 a {
    color:rgba(255,255,255,1);
    font-weight:bold;
    font-size:1.2em;
}

.user .user-name span a {
    color:rgba(255,255,255,0.5);
    font-size:0.8em;
}

.user .dropdown {
    position:absolute;
    bottom: 15px;
    right: 15px;
    color:#5584ff;
}

li.ap-title{
    color:white;
    text-align:center;
    margin:30px 0px 15px 0px;
    font-size:24px;
    font-weight:bold;
  }

.dashboardNavigation a:focus,a:hover,a{
    outline: none;
    text-decoration: none;
}

.dashboardNavigation li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboardNavigation i{
    font-size: 20px;
}

.dashboardNavigation .dashboardActive a{
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.dashboardNavigation a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}

.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/*Navbar CSS*/
.navbar{
    position: fixed;
    background-color: #043AAC; /*TODO for Temi: Make Transparent after adding background*/
    width: 100%;
    padding: 30px 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    transition: .3s linear;
}

.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 40px;
    height: 32px;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover{
    color: green;
}


.sticky{
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
}

.sticky .logo{
    background-image: url("../images/logo.png");
}

.sticky .navbar-menu a{
    color: #111;
}

.sticky .menu-toggler{
    background-color: #111;
}

.nothing{
    margin-top: 15em; /*DELETE SOON*/
}

/*Help Section CSS*/
.container-fluid{
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
}

.container-fluid h2{
    color: #043AAC;
    position: relative;
    width: 23rem;
}

.container-fluid h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 67px;
    height: 2px;
    background-color: #043AAC;
}

.accordion{
    width: 100%;
    padding: 0 5px;
    border: 2px solid #043AAC;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.accordion .icon{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background: url("..images/button.jpg") no repeat 8px 7px #043AAC;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
}
.accordion h5{
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;

}

.panel{
    padding: 0 15px;
    border-left: 1px solid #043AAC;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 300px;
    transition: all .5s ease-in;
}